.post-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px; 
    width: 100%;
}
@media (max-width: 1000px) {
    .post-grid {
        grid-template-columns: repeat(4, 1fr); /* Adjust for medium screens */
    }
}
@media (max-width: 850px) {
    .post-grid {
        grid-template-columns: repeat(3, 1fr); /* Adjust for medium screens */
    }
}

@media (max-width: 700px) {
    .post-grid {
        grid-template-columns: repeat(2, 1fr); /* Adjust for smaller screens */
    }
}