.post-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px; 
    width: 100%;
}
@media (max-width: 1300px) {
    .post-grid {
        grid-template-columns: repeat(4, 1fr); /* Adjust for medium screens */
    }
}
@media (max-width: 1200px) {
    .post-grid {
        grid-template-columns: repeat(3, 1fr); /* Adjust for medium screens */
    }
}

@media (max-width: 1000px) {
    .post-grid {
        grid-template-columns: repeat(2, 1fr); /* Adjust for smaller screens */
    }
}

@media (max-width: 750px) {
    .post-grid {
        grid-template-columns: 1fr; /* Single column layout for mobile */
    }
}