.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.post-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px; 
    width: 100%;
}
@media (max-width: 1300px) {
    .post-grid {
        grid-template-columns: repeat(4, 1fr); /* Adjust for medium screens */
    }
}
@media (max-width: 1200px) {
    .post-grid {
        grid-template-columns: repeat(3, 1fr); /* Adjust for medium screens */
    }
}

@media (max-width: 900px) {
    .post-grid {
        grid-template-columns: repeat(2, 1fr); /* Adjust for smaller screens */
    }
}

@media (max-width: 480px) {
    .post-grid {
        grid-template-columns: 1fr; /* Single column layout for mobile */
    }
}