/* MyCurriculums.css */
.curriculum-container-mp {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 90%;
}
.curriculum-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 20px;
  width: 80%;
}
@media (max-width: 900px) {
  .curriculum-container {
      grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 740px) {
  .curriculum-container-mp {
      grid-template-columns: repeat(2, 1fr);
  }
}

.curriculum-item {
  border-radius: 8px;
  width: calc(33.333% - 40px);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 250px;
  height: 240px;
}

.curriculum-item img {
  width: 250px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.curriculum-item h3 {
  padding-top: 8px;
}

.curriculum-item p {
  padding-top: 5px;
  color: #707070;
}

.curr-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 5px;
}

.curr-tag-l {
  display: flex;
  text-align: left;
}

.curr-tag-r {
  display: flex;
  gap: 5px;
  margin-left: auto;
  white-space: nowrap;
  text-align: right;
}

.curr-tag-l p, .curr-tag-r p {
  background-color: #fbeff2; 
  padding: 1px 10px; 
  border-radius: 10px;  
  margin: 0px;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
