.info-container {
    all: unset;
    display: block;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;
    width: 95%;
  }

  @media (max-width: 760px) {
    .info-container {
        grid-template-columns: repeat(2, 1fr); /* Adjust for smaller screens */
    }
}
