/* .item{
    width: 250px;
    overflow: hidden;
}
.item-price-new{
    font-size: 18px;
}
.item-price-old{
    font-size: 18px;
}
.item:hover{
    transform: scale(1.05);
}
.item img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
@media (max-width: 600px) {
    .item {
        width: 100%;  
        height: auto;  
    }

    .item img {
        height: 200px;
    }
} */