/* Overall Calendar Styling */
.calendar {
  font-family: 'Arial', sans-serif;
  /* max-width: 960px; */
  margin: 20px auto;
  align-items: center;
}
.check-icon {
  width: 40px;
  position: absolute;
  opacity: 50%;
}

/* Header Section */
.header {
  display: flex;
  align-items: center;
}

.header .col {
  display: flex;
}
.text-year {
  padding-right: 10px;
}

.col-start {
  justify-content: space-between;
  width: 50%;
  align-items: center;
}

.header span.text {
  font-size: 23px;
  font-weight: bold;
}

.header span.text.month {
  margin-right: 5px;
}

.header img {
  cursor: pointer;
  width: 25px;
  height: 25px;
  opacity: 50%;
}


.days {
  display: flex;
  padding: 5px 0;
}

.days .col {
  flex: 1;
  text-align: center;
  font-weight: bold;
  color: #666;
  margin: 10px 30px;
}

.body .row {
  display: flex;
}

.body .col {
  flex: 1;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
  margin: 10px;
  color: #0000004f;
}

.body .col:last-child {
  border-right: none;
}

.cell {
  position: relative;
}

.cell.disabled {
  pointer-events: none;
}

.cell.selected {
  background-color: #ffbcbc4c;
  border-radius: 20px;
  color: black;
}

.cell.not-valid {
  background-color: #f0f0f0;
}

.cell.valid {
  background-color: #fff;
  color: black;
}
