.curriculum {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0px;
    box-sizing: border-box; 
    /* background-color: #ffc0c0; */
}
.header {
    display: flex;
    flex-direction: column;
    /* background-color: #F6F6F6; */
    margin: 70px 0;
    width: 100%; 
    padding: 0 20px;
    box-sizing: border-box;
}

.header h1 {
    font-size: 24px; 
    margin-bottom: 10px; 
    color: #333; 
    text-align: left;
    width: 100%;
    /* background-color: aqua; */
    margin-left: 0;
    padding-left: 0;
}

.header hr {
    width: calc(100% - 3px);
    height: 1px;
    background-color: #000000; 
    border: none;
    margin-bottom: 30px;  
}

.header-info {
    font-size: 16px; 
    color: #000000;  
    text-align: left; 
    background-color: #F6F6F6;
    font-weight: bold;
    width: 97%;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 0px;
}
.header-info p:not(:last-child) {
    padding-bottom: 8px;
}
.header-info p:last-child {
    padding-bottom: 0;
}
.nav-diff {
    margin-left: 20px;
    display: flex;
    gap: 50px;  /* Space between each button */
    margin-bottom: 20px;  /* Space below the button group */
    width: 100%;
    margin-top: 0px;
    /* background-color: aqua; */
}

.nav-diff button {
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #F6F6F6;  /* Light pink background */
    color: #333;  /* Dark text for readability */
    border: none;
    border-radius: 20px;  /* Rounded corners */
    padding: 10px 35px;  /* Padding inside the button */
    font-size: 18px;  /* Text size inside the button */
    font-weight: bold;
    cursor: pointer;  /* Pointer cursor on hover */
}
.nav-diff button:hover {
    background-color: #FBCDD4;  /* Darker pink on hover */
    color: white;  /* White text on hover */
}

/* Ensure the curriculum content remains centered and does not stretch too wide */
@media (min-width: 1024px) {
    .curriculum {
        max-width: 960px;  /* Adjust this to suit your layout needs */
        margin: auto;  /* Centers the entire curriculum component */
    }
}
