.curriculum {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0px;
    box-sizing: border-box; 
}
.header {
    display: flex;
    flex-direction: column;
    margin: 70px 0;
    width: 100%; 
    padding: 0 20px;
    box-sizing: border-box;
}

.header h1 {
    font-size: 24px; 
    margin-bottom: 10px; 
    color: #333; 
    text-align: left;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
}

.header hr {
    width: calc(100% - 3px);
    height: 1px;
    background-color: #000000; 
    border: none;
    margin-bottom: 30px;  
}

.header-info {
    font-size: 16px; 
    color: #000000;  
    text-align: left; 
    background-color: #F6F6F6;
    font-weight: bold;
    width: 97%;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 0px;
}
.header-info p:not(:last-child) {
    padding-bottom: 8px;
}
.header-info p:last-child {
    padding-bottom: 0;
}
.nav-diff {
    margin-left: 20px;
    display: flex;
    gap: 50px; 
    margin-bottom: 20px; 
    width: 100%;
    margin-top: 0px;
    white-space: nowrap;
}

.nav-diff button {
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #F6F6F6;  
    color: #333; 
    border: none;
    border-radius: 20px;  
    padding: 10px 35px;  
    font-size: 18px; 
    font-weight: bold;
    cursor: pointer;  
}
.nav-diff button:hover {
    background-color: #FBCDD4; 
    color: white;  
}

@media (min-width: 1024px) {
    .curriculum {
        max-width: 960px;
        margin: auto;  
    }
}
