.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
  /* background-color: aqua; */
}

.h-mycrr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  /* background-color: aqua; */
}

.left p {
  margin-left: 50px;
  font-size: 20px;
  font-weight: bold;
}

.right {
  margin-right: 50px;
  padding: 10px;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.right p:hover {
  text-decoration: underline;
}

.custom-link {
  text-decoration: none; 
  color: inherit;
}

.custom-link p {
  margin: 0;
}

.custom-link p:hover {
  color: #F3A6B3; 
}

