.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    transition: transform 0.3s; 
    border-radius: 8px;
    /* background-color: #ff0000;  */
}
.item-price-new{
    font-size: 18px;
}
.item-price-old{
    font-size: 18px;
}
.item img {
    width: 225px;
    height: 225px;
    object-fit: cover;
    object-position: center;
}